body {
  margin: 0px;
}

header * {
  display: inline-block;
  text-align: center;
}
header {
  width: 100vw;
  height: 80px;
  position: fixed;
  top: 0px;
  left: 0px;
}

div#content {
  width: 100vw;
  height: calc(100vh - 80px);
  position: fixed;
  top: 80px;
  left: 0px;
}

@media screen and (min-width: 1000px) {
  h1 {
    width: 200px;
  }
  nav {
    width: calc(100vw - 220px);
  }
  nav span {
    width: calc((((100vw - 220px) / 5 - 8px) + 148px) / 2);
  }
  .mobile {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  h1 {
    width: 200px;
  }
  nav {
    width: calc(100vw - 220px);
  }
  nav span {
    width: calc((100vw - 220px) / 5 - 8px);
  }
  .mobile {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    float: right;
    width: calc(100vw - 41px);
  }
  .bigger {
    display: none;
  }
  nav {
    display: none;
  }
  .mobile {
    display: block;
  }
  #menuicon {
    display: block;
    text-align: left;
    position: fixed;
    top: 0px;
    left: 16px;
    width: 22px;
  }
  nav.mobile {
    position: fixed;
    height: 100vh;
    width: 0px;
    top: 0px;
    left: 0px;
  }
  nav * {
    display: block;
  }
}
