body {
  margin: 0px;
}

header * {
  display: inline-block;
  text-align: center;
}
header {
  width: 100vw;
  height: 80px;
  position: fixed;
  top: 0px;
  left: 0px;
}

div#content {
  width: 100vw;
  height: calc(100vh - 80px);
  position: fixed;
  top: 80px;
  left: 0px;
}

div#content * {
  padding: 4px;
  margin: 8px;
}

@media screen and (min-width: 1000px) {
  h1 {
    width: 200px;
  }
  nav {
    width: calc(100vw - 210px);
  }
  nav > a, .dropdown > a {
    width: calc((((100vw - 216px) / 7 - 8px) + 104px) / 2);
    padding: 2px;
    margin: 2px;
  }
  .mobile {
    display: none;
  }
  nav .left {
    float: left;
  }
  nav .right {
    float: right;
  }
  .dropdown {
    width: calc(((((100vw - 216px) / 7 - 8px) + 104px) / 2) + 4px);
    margin: 0px;
    padding: 0px;
    position: fixed;
    overflow: hidden;
    height: 0px;
    top: 62px;
  }
  .dropdown a {
    padding: 0px;
    margin: 0px;
    width: 100%;
  }
  .forzero {
    left: 206px;
  }
  .forone {
    left: calc(((((100vw - 216px) / 7 - 8px) + 104px) / 2) + 214px);
  }
}

@media screen and (max-width: 1000px) {
  h1 {
    width: 200px;
  }
  nav {
    width: calc(100vw - 210px);
  }
  nav > a, .dropdown > a {
    width: calc((100vw - 216px) / 7 - 8px);
    padding: 2px;
    margin: 2px;
  }
  .mobile {
    display: none;
  }
  nav .left {
    float: left;
  }
  nav .right {
    float: left;
  }
  .dropdown {
    width: calc(((100vw - 216px) / 7 - 8px) + 4px);
    margin: 0px;
    padding: 0px;
    position: fixed;
    overflow: hidden;
    height: 0px;
    top: 62px;
  }
  .dropdown a {
    padding: 0px;
    margin: 0px;
    width: 100%;
  }
  .forzero {
    left: 206px;
  }
  .forone {
    left: calc(((100vw - 216px) / 7 - 8px) + 214px);
  }
}

@media screen and (max-width: 720px) {
  h1 {
    float: right;
    width: calc(100vw - 41px);
  }
  nav {
    display: none;
  }
  .mobile {
    display: block;
  }
  #menuicon {
    display: block;
    text-align: left;
    position: fixed;
    top: 0px;
    left: 16px;
    width: 22px;
  }
  nav.mobile, #slide {
    position: fixed;
    height: 100vh;
    width: 0px;
    top: 0px;
  }
  nav.mobile {
    left: 0px;
  }
  #slide {
    left: 0px;
  }
  nav.mobile div {
    height: 32px;
    width: 100%;
    vertical-align: middle;
  }
  nav.mobile div * {
    display: inline-block;
  }
  nav.mobile img {
    display: inline;
    float: right;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
  }
  nav.mobile a {
    float: left;
    text-align: left;
    width: calc(100% - 50px);
  }
  #slide a {
    width: 100%;
    padding: 0px 8px;
  }
  .dropdown {
    display: none;
  }
}
