* {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  vertical-align: middle;
}

h1, h2 {
  font-weight: 100;
}

nav span {
  padding: 2px;
  margin: 2px;
  background-color: #eeeeee;
  height: 2em;
  line-height: 2em;
}

nav.mobile {
  background-color: #eeeeee;
  overflow-x: hidden;
  transition: 0.3s;
  z-index: 1;
}

#menuicon {
  z-index: 2;
  cursor: pointer;
}

div#content {
  overflow-y: scroll;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background: #ddd;
}​
